.SignUp-container {
  width: 60%; 
  margin: auto;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  background-color: rgb(42,42,42);
  border-radius: .6rem;
  padding: 3rem 2rem;
}

.SignUp-leftCol {
  flex-basis: 0;
  flex-grow: 2;
  order: 1;
  padding-right: 2rem;
}

.SignUp-rightCol {
  flex-basis: 0;
  flex-grow: 3;
  order: 2;
  border-left: 2px solid rgb(59, 58, 57);
  padding-left: 1rem
}

.SignUp-logo-container {
  display: flex; 
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center; 
  align-items: center;
}

.SignUp-logo-container img {
  max-width: 100%;
}

.SignUp-fade-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.SignUp-fade-element {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s;
}

.SignUp-fade-element-show {
  opacity: 1;
}

.SignUp-help-container {
  background: rgb(35, 32, 30);
  border: 2px dashed rgb(194, 136, 45);
  border-radius: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1.8rem
}

.SignUp-help-container i {
  font-size: 3.5rem;
  color: rgb(194, 136, 45);
  padding-right: 1rem;
}

@media screen and (max-width: 1024px) {
  .SignUp-container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .SignUp-container {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .SignUp-container {
    height: calc(100vh - 5rem); 
    width: 100%;
    flex-direction: column; 
    border-radius: 0;
    padding: 1rem;
  }

  .SignUp-leftCol {
    flex-grow: 3;
    order: 2;
    padding: 0;
  }
  
  .SignUp-rightCol {
    flex-grow: 2;
    order: 1;
    border-left: none;
    padding: 0;
    margin-bottom: 1rem;
  }

  .SignUp-fade-container {
    height: 100%;
  }

  .SignUp-logo-container img {
    max-width: 80%;
  }
}