.AdminFirmware-container {
  background-color: rgb(40,39,63);
}

.AdminFirmware-url-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AdminFirmware-url-container i {
  color: var(--byowave-alert-colour);
  font-size: 2.5rem;
}

.AdminFirmware-new-file-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem;
  margin-top: .4rem;
  background-color:  rgb(61, 58, 84);
}

.AdminFirmware-downloading-spinner {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

.AdminFirmware-downloading-spinner i {
  width: auto;
  color: var(--byowave-cta-colour);
}

.AdminFirmware-save-panel {
  padding: 1rem; 
  margin-top: 1rem; 
  background-color: var(--byowave-panel-bg-colour);
  border-radius: 5px; 
  font-weight: bold;
   text-align: center
}