.NotFound-container {
  width: 50%; 
  margin: auto;
  display: flex; 
  /* align-items: center; */
}

.NotFound-leftCol {
  flex-basis: 0;
  flex-grow: 2;
  background-color: rgb(194,136,45);
  border-radius: .6rem 0 0 .6rem;
  padding: 4rem;
  text-align: center;
}

.NotFound-rightCol {
  flex-basis: 0;
  flex-grow: 3;
  background-color: rgb(65, 64, 61);
  border-radius: 0 .6rem .6rem 0;
  padding: 4rem;
}

.NotFound-leftCol i {
  font-size: 12rem;
  color: rgb(235, 235, 235);
}