@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600;800;900&display=swap');

:root {
  --byowave-cta-colour: rgb(95, 106, 219);
  --byowave-cta-hover-colour: rgb(142, 151, 249);
  --byowave-cta-disabled-colour: rgb(78, 68, 53);
  --byowave-alert-colour: rgb(124,15,208);
  --byowave-alert-text-colour: rgb(216, 175, 248);
  --byowave-cta-text-colour: rgb(220, 220, 220);
  --byowave-cta-disabled-text-colour: rgb(126, 126, 126);
  --byowave-paragraph-text-colour: rgb(178, 181, 212);
  --byowave-heading-text-colour: rg(178, 181, 212);
  --byowave-panel-bg-colour: rgb(38,40,56);
  --byowave-panel-text-colour: rgb(102, 104, 128);
  --byowave-panel-text-light-colour: rgb(103,106,133);
  --byowave-inputfield-bg-colour: rgb(25, 26, 34);
  --byowave-inputfield-text-colour: rgb(134, 139, 180);
  --byowave-inputfield-text-disabled-colour: rgb(121, 121, 121);
  --byowave-inputfield-placeholder-text-colour: rgb(63, 65, 82);
  --byowave-custom-control-border-colour: rgb(88,102,223);
  --byowave-custom-control-bg-colour: rgb(58,56,81);
  --byowave-custom-control-inner-colour: rgb(135,146,247);
  --byowave-custom-control-text-colour: rgb(132,136,168);
}

.Colour-orange-bright { color: rgb(194, 136, 45) }
.Colour-white-bright { color: rgb(234, 234, 234) }
.Colour-blue-bright { color: rgb(81,111,248) }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
}

html {
  font-size: 14px;
  font-family: 'Ropa Sans', sans-serif;
  background-color: rgb(29,30,41);
  color: rgb(178,178,178);
}

body {
  width: 100%;
  height: 100%
}

ul {
  list-style-type: none;
  line-height: 1.6rem;
  color: rgb(178, 181, 212)
}

li::before {
  padding-right: 10px;
  font-size: 20px;
  content: '\2022';
  color: var(--byowave-cta-colour);
}

a {
  color: var(--byowave-cta-colour);
  text-decoration: none;
}

a:hover {
  color: var(--byowave-cta-hover-colour);
  text-decoration: none ;
}

p { 
  line-height: 1.6rem; 
  color: var(--byowave-paragraph-text-colour);
}

h1, h2, h3 { color: var(--byowave-heading-text-colour) }

.App-container {
  width: 100%;
  height: 100%;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes fade-out { 0% { opacity: 1; } 100% { opacity: 0; } }
@keyframes fade { to { height: 0; opacity: 0; margin: 0; } }
@keyframes blinker { 50% { opacity: 0; } }

.BlinkMe {
  animation: blinker 1s step-start infinite;
}

.BlinkMeQuick {
  animation: blinker .3s step-start infinite;
}

.HideAfterDelay {
  height: auto;
  animation: fade 1s linear; 
  animation-delay: 2s; 
  animation-fill-mode: forwards;
}

.BreakLongText {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.AlertShow {
  opacity: 1;
  transition: all 250ms linear;
}

.AlertHide {
  opacity: 0;
  transition: all 250ms linear 2s;
}

.Button-standard {
  background-color: var(--byowave-cta-colour);
  border: none;
  border-radius: .5rem;
  padding: .6rem 1.2rem;
  color:var(--byowave-cta-text-colour);
  cursor: pointer;
  outline: none;
  font-weight: 600;
}

.Button-standard:hover {
  background-color: var(--byowave-cta-hover-colour);
}

.Button-standard-disabled {
  background-color: var(--byowave-cta-disabled-colour);
  border: none;
  border-radius: .5rem;
  padding: .5rem 1rem;
  color: var(--byowave-cta-disabled-text-colour);
  outline: none;
}

::placeholder {
  color: var(--byowave-inputfield-placeholder-text-colour);
  padding: 0.6rem 0.5rem;
  font-size: 1rem;
}

.Textfield-dark {
  background-color: var(--byowave-inputfield-bg-colour);
  color: var(--byowave-inputfield-text-colour);
  border-radius: .4rem;
  border: none;
  outline: none;
  padding: 0.6rem 0.5rem;
  font-size: 1rem;
}

.Textfield-dark-disabled { 
  color: var(--byowave-inputfield-text-disabled-colour)
}

.PanelLabel {
  background-color: var(--byowave-panel-bg-colour);
  padding: .8rem;
  font-size: .9rem;
  color: var(--byowave-panel-text-colour);
  line-height: 1.4rem;
  border-radius: 6px
}

.PanelInfo {
  background: var(--byowave-panel-bg-colour);
  color: var(--byowave-panel-text-light-colour);
  border: 1px solid var(--byowave-alert-colour);
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 5px;
}

.Formfield-error-inline {
  background-color: var(--byowave-alert-colour);
  padding: .4rem;
  color: var(--byowave-alert-text-colour);
  font-size: .9rem;
  border-radius: .4rem;
  margin-top: 2px;
}

.Tab-item-off {
  cursor: pointer;
  display: inline-block;
  color: rgb(100,100,100);
  padding: 0.5rem 1rem;
  background-image: linear-gradient(rgb(53, 53, 53), rgb(42,42,42));
  border-bottom: 1px solid rgb(32,32,32);
}

.Tab-item-off:hover {
  color: rgb(209, 209, 209);
}

.Tab-item-on {
  display: inline-block;
  color: rgb(209, 209, 209);
  padding: 0.5rem 1rem;
  border-radius: 6px 6px 0 0;
  background-image: linear-gradient(rgb(70,70,70), rgb(42,42,42));
}

form {
  margin: 0;
  padding: 0;
}

label {
  color:rgb(145, 145, 145);
  font-size: .9rem;
  padding-left: .4rem;
}

textarea {
  resize: none;
}

.RangeSlider {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(50,50,50,1);
  height: 4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(50,50,50,1);
  height: 4px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 20%;
  height: 14px;
  width: 14px;
  /* max-width: 40px; */
  position: relative;
  bottom: 6px;
  background-color: rgb(128,92,36);
  cursor: -webkit-grab;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  /* max-width: 40px; */
  position: relative;
  bottom: 6px;
  background-color: rgb(128,92,36);
  cursor: -moz-grab;
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

/* SCROLL BARS */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(81,111,248) rgb(11,15,32);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(11,15,32);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(81,111,248);
  border-radius: 20px;
  border: 3px solid rgb(11,15,32);
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
